.page-wrapper {
    margin-left: calc(20px + 240px);
    transition: .2s ease-in;
    margin-right: 0px;

}

@media screen and (max-width:1280px) {
    .page-wrapper{
        margin-left: 0px;
    }
}

[data-sidebar-type="mini-sidebar"] .page-wrapper-sub {
    margin-left: 0px;
}
